<h1>Stupid Coaching</h1>
<div class="question">
  <p><strong> You:</strong></p>
  <p>- <em> "<%= params[:question] %>"</em> </p>
</div>
<div class="answer">
  <p><strong>The stupid coach:</strong></p>
  <p>- <em>" <%= @answer %>"</em> </p>
</div>
</br>
<p><%= link_to 'ask a new question', ask_path %></p>
